{
  "extends": "airbnb-base/legacy",
  "parserOptions": {
    "ecmaVersion": 6,
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "func-names": "off",
    "max-len": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-prototype-builtins": "off",
    "semi": ["error", "never"],
    "vars-on-top": "off",
  },
}
